server:
  port: 0

spring:
  datasource:
#    url: jdbc:h2:tcp://localhost/C:\data\catalog-service # jdbc:h2:file:C:\data\test
    url: jdbc:mariadb://localhost:3306/userdb
    dirver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: mariadb
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2-console
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
      naming_strategy: org.hibernate.cfg.EJB3NamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        jdbc:
          lob:
            non_contextual_creation: true
        show_sql: true
        format_sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost
    instance-id:  ${spring.cloud.client.hostname}:${spring.application.instance_id:${random.value}}